# Provider credentials
CLOUDFLARE_API_TOKEN=your-cloudflare-api-token
GITHUB_TOKEN=your-github-pat
GRAFANA_CLOUD_ACCESS_POLICY_TOKEN=your-grafana-cloud-access-policy-token

# Terraform input variables
TF_VAR_db_admin_password=your-postgres-admin-password
